<footer class="footer">
    <div class="footer_inner">

        <div class="copyright">
            <span>© copyleft 2023 <a href="#" class="copyright-user">Kloud</a></span>
            <span >:: all rights reserved.</span>
        </div>
    </div>
</footer>