<header class="header">
    <div class="header_inner">
        <div class="header_logo">
            <a href="/">
                <div class="logo">
                    &gt;[kloud ~]'$
                    <span class="blink">_</span>
                    website
                </div>
            </a>
        </div>

        <ul class="menu menu-mobile">
            <li class="menu_trigger">Menu&nbsp;▾</li>
            <li>
                <ul class="menu_dropdown">
                    <li><a href="/">~/About</a></li>
                    <li><a href="/projects">~/Projects</a></li>
                    <li><a href="/contacts">~/Contact me</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <nav class="navigation-menu">
        <ul class="navigation-menu_inner menu-desktop">
            <li><a href="/">~/About</a></li>
            <li><a href="/projects">~/Projects</a></li>
            <li><a href="/contacts">~/Contact me</a></li>
        </ul>
    </nav>
</header>