@use 'sass:color';

input, textarea, select {
  background: transparent;
  color: $accent;
  border: 1px solid $accent;
  border-radius: 0;
  padding: 10px;
  font: inherit;
  appearance: none;

  &:focus, :active {
    border-color: $accent2;
    outline: 0px solid transparent;
  }

  &:active {
    box-shadow: none;
  }
}

input {
  width: 100%;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 0px
}

select {
  background: $background;

  option {
    background: $background;
  }
}

::placeholder {
  color: color.adjust($accent, $alpha: -0.5);
}

.notification-form {
  display: flex;
  flex-direction: column;

  span {
    margin: auto;
    margin-top: 5px;
    height: 0;
    opacity: 0
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  80% { opacity: .65; }
  100% { opacity: 0; }
}
