.project-card {
    @extend .framed;
    padding: 0px;
    margin-top: 15px;

    text-decoration: none;
    display: block;

    &:first-of-type {
        margin-top: 30px;
    }

    h2 {
        margin: 0px;
    }

    p {
        margin: 10pt 0 !important;
    }
}

.repo_card {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    &_adaptive {
        display: flex;
        width: 100%;

        @media ($phone) {
            flex-direction: column;
        }

        &_thumbnail {
            min-height: 150px;
            min-width: 250px;
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &_inner {
            padding: 6pt;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    &_small_thumbnail {

        margin-right: 5px;
        margin-top: 5px;

        @media ($phone) {
            display: none;
        }

        img {
            width: 90px;
            border-radius: 10px;
            background: radial-gradient(closest-side, var(--bg-color) 20%, transparent);
        }
    }
}

.repo_stats {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10pt;
}

.repo_stats>div {
    margin-right: 10pt;
}

.repo_stats .icon_container,
.icon_container em {
    display: flex;
    align-items: center;
    height: 18px;
}

.icon_container em::before {
    height: 18px;
}

.repo_org img {
    display: flex;
    height: 25px;
}

.stats_text {
    margin-left: 3pt;
}