<a class="project-card" href="https://github.com/dgudim/obsidian-universal-renderer">
    <div data-repo="/dgudim/obsidian-universal-renderer" class="repo_card"
        style="background: linear-gradient(25deg, transparent 52%, #3178c6 100%);">

        <div class="repo_card_adaptive">

            <div class="repo_card_adaptive_thumbnail"
                style="background-image: url('https://user-images.githubusercontent.com/34401005/238184123-b39d1054-f054-4b32-9954-43ab20c5e3bd.png')">
            </div>

            <div class="repo_card_adaptive_inner">
                <div class="repo_text_container">
                    <h2 class="titleText">Obsidian universal renderer (obsidian-universal-renderer)</h2>
                    <span class="descriptionText"
                        id="obsidian_universal_renderer_(obsidian-universal-renderer)_description">Obsidian plugin
                        to render latex, dot, blockdiag, ditaa and other graphs</span>
                </div>
                <div class="repo_stats">
                    <div class="icon_container repo_lang">
                        <em style="color: #3178c6;" class="fa fa-circle"></em>
                        <span class="stats_text">TypeScript</span>
                    </div>
                    <div class="icon_container repo_stars">
                        <em class="fa fa-star-o"></em>
                        <span class="stats_text"
                            id="obsidian_universal_renderer_(obsidian-universal-renderer)_stars">2</span>
                    </div>
                    <div class="icon_container repo_forks">
                        <em class="fa fa-code-fork"></em>
                        <span class="stats_text"
                            id="obsidian_universal_renderer_(obsidian-universal-renderer)_forks">0</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="repo_card_small_thumbnail">
            <img src="https://user-images.githubusercontent.com/34401005/238184102-744f735e-1008-44f0-adec-c1d7c8275833.png"
                alt="repo_card_small_thumbnail">
        </div>

    </div>
</a>