body {
	background-color: #3C002D;
	font-family: sans-serif;
}
a{
	color: #3c002d;
}
.mainblock{
	max-width: 900pt; 
	margin: auto;
}
.header{
	margin-right: auto;
	margin-left: auto;
	margin-top: 5pt;
	margin-bottom: 5pt;
	background-color: #fff;
	padding: 10pt;
	border-radius: 5pt;
	font-size: larger;
	text-align: center;
	box-shadow: 0 0 12pt #00000058;
}
.subheader{
	box-shadow: none;
	border-color: #3c002dff;
	border-width: 2pt;
	border-style: solid;
	font-size: smaller;
	text-align: left;
	margin-top: 17pt;
	box-shadow: 0 3pt 1pt #9c9c9c88, 2pt 2pt 1pt #9c9c9c88;
}
.content {
	margin-right: auto;
	margin-left: auto;
	margin-top: 5pt;
	margin-bottom: 5pt;
	background-color: #fff;
	padding: 10pt;
	border-radius: 5pt;
	text-align: center;
	box-shadow: 0 0 12pt #00000058;
}
.gitbutton {
	text-align: left;
	background-color: #000;
	max-width: 45pt
}
 p{
 	background-color: #cdcdcd;
 	padding: 10pt;
 	text-align: center;
 	border-radius: 5pt;
 	font-size: smaller;
 	color: #555;
 }
 .cloud{
 	border-radius: 10pt;
 	padding: 10pt;
 	margin-bottom: 5pt;
 	font-size: smaller;
 	background-color: #cccccc;
 	text-align: center;
 	font-size: xx-large;
 	box-shadow: 0 3pt 1pt #9c9c9c88, 2pt 2pt 1pt #9c9c9c88;
 }
 .largeText{
 	font-size: x-large;
 }
 .large2Text{
 	font-size: xx-large;
 }
 .flex {
 	display: flex;
 	flex-flow: row wrap;
 	margin: auto;
 	padding: 0;
 }
 .center-text {
	display: flex;
	justify-content: center;
	align-items: center;
}
.blacktext{
	color: black;
}

#hov {
  transition: transform .2s;
}
#hov:hover {
  transform: scale(1.1);
}
