:root {
	--accent-color: #5e2f14;
	--lang-icon-border-color: #808080;
	--slab-color: rgb(255, 239, 204);
	--repo-card-bg-color: #b4b4b4;
	--box-shadow-color: #5e000088;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--accent-color);
	font-family: sans-serif;
}

a {
	color: black;
	text-decoration: none;
	width: 100%;
}

main {
	max-width: 1000pt;
	margin: auto;
}

.largeText {
	font-size: x-large;
}

.xlargeText {
	font-size: xx-large;
}

.slab {
	margin: 3pt;
	background-color: var(--slab-color);
	padding: 7pt;
	border-radius: 5pt;
	display: flex;
	flex-direction: column;
}

.slab>a+a {
	margin-top: 10pt
}

.big {
	flex: 1;
	width: auto;
}

.repo_card {
	border: 2pt solid var(--accent-color);
	border-radius: 5pt;
	width: 100%;
	box-shadow: 0 3pt 1pt var(--box-shadow-color), 2pt 2pt 1pt var(--box-shadow-color);
	background: var(--repo-card-bg-color);
	display: flex;
	flex-wrap: nowrap;
}

.repo_card_adaptive {
	display: flex;
	width: 100%;
}

.repo_thumbnail {
	min-height: 150px;
	min-width: 250px;
	border-radius: 3pt 0 0 3pt;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.repo_card_inner {
	border-left: 2pt solid var(--accent-color);
	padding: 3pt;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 6pt
}

.titleText {
	margin-top: 2pt
}

.repo_text_container {
	padding-bottom: 10pt;
}

.repo_stats {
	margin-top: auto;
	display: flex;
}

.repo_stats>div {
	margin-right: 20pt;
}

.repo_small_thumbnail {
	display: flex;
	flex-direction: column;
}

.repo_small_thumbnail img {
	height: 90px;
	width: 90px;
	display: block;
	background: black;
	border-radius: 5pt 0 5pt 40%;
	border-bottom: 2pt solid var(--accent-color);
	border-left: 2pt solid var(--accent-color);
}

.repo_small_thumbnail em {
	margin: auto;
}

@media only screen and (max-width: 800px) {
	.xlargeText {
		font-size: x-large;
	}

	.slab {
		margin: 2pt;
		padding: 3pt;
	}

	.repo_card_inner{
		border-left: none
	}

	.repo_card_adaptive {
		flex-direction: column;
	}

	.repo_thumbnail {
		border-radius: 3pt 0 7pt 3pt;
		margin-right: 5pt;
	}

	.repo_small_thumbnail img {
		height: 70px;
		width: 70px;
	}

	.repo_small_thumbnail em {
		margin-bottom: 5pt;
	}	
}

@media only screen and (max-width: 600px) {
	.repo_small_thumbnail {
		display: none
	}

	.repo_thumbnail {
		border-radius: 0;
		margin: 0;
		min-width: 25px;
	}
}

.repo_lang {
	display: flex;
}

.lang_icon {
	width: 15px;
	height: 15px;
	margin: auto 0;
	border-radius: 50%;
	border: 1pt solid var(--lang-icon-border-color);
}

.stats_text {
	margin: auto 0;
	margin-left: 2pt;
	line-height: 0;
}

.center {
	margin: auto
}

.flex {
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	padding: 0;
}

.avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%
}

.hov {
	transition: transform .2s;
}

.hov:hover {
	transform: scale(1.1);
}