{% set title = "Kloud's website/contacts" %}

<article class="post on-list line">
    <h1 class="post-title" id="about-website">
        <a href="#about-website">Contact me<a href="#about-website" class="hanchor" arialabel="Anchor">⌗</a></a>
    </h1>

    <div class="post-content">

        <h2>Socials and contributions</h2>
        You can <s>stalk</s> find me on the following platforms:
        <ul>
            <li>
                <i class="fa fa-mastodon"></i> Mastodon: <a rel="me" href="https://ioc.exchange/@kloud"
                    class="social">@kloud@ioc.exchange</a>
            </li>
            <li>
                <i class="fa fa-github" aria-hidden="true"></i> GitHub: <a href="https://github.com/dgudim"
                    class="social">Kloud</a>
            </li>
            <li>
                <i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube: <a
                    href="https://www.youtube.com/channel/UC5PtgS_iXYUBdU5HIfdX9Lg" class="social">Kloud</a>
            </li>
        </ul>

        <h2>Message me</h2>
        <p>
            I prefer matrix, but feel free to use any:
        <ul>
            <li>
                <i class="fa fa-matrix-org" aria-hidden="true"></i> [Matrix]: <a
                    href="https://matrix.to/#/@doodetz:matrix.org" class="social">Kloud</a>
            </li>
            <li>
                <i class="fa fa-telegram" aria-hidden="true"></i> Telegram: <a href="https://t.me/kl0ud"
                    class="social">kl0ud</a>
            </li>
            <li>
                <i class="fa fa-discord-alt" aria-hidden="true"></i> Discord: <a
                    href="https://discordapp.com/users/410761741484687371/" class="social">kloud#4022
                    (@_kl0ud)</a>
            </li>
            <li>
                <i class="fa fa-envelope" aria-hidden="true"></i> Email: <a href="mailto:kloud@kernal.eu"
                    class="social">kloud@kernal.eu</a>
            </li>
        </ul>
        </p>

    </div>
</article>
