{% set title = "Kloud's projects" %}

<article class="post">
    <h1 class="post-title" id="project-list">
        <a href="#project-list">Projects</a>
    </h1>

    <div class="post-content">

        <h2>Languages</h2>
        <p>I write in several languages.
            For android apps I use java (don't know kotlin yet), for scripts and automations I use TypeScript.
            Several other projects are written in c++
        </p>

        <h2>Other stuff</h2>
        <ul>
            <li><a href="uni-math-notes" class="social"><i class="fa fa-file-text" aria-hidden="true"></i> University obsidian notes</a></li>
        </ul>

        <h2>Note</h2>
        <p>
            Projects listed here are the ones that are worth looking at, for a full list, check out my <a
                href="https://github.com/dgudim" class="accent_link"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
        </p>

    </div>

    {% include 'parts/projects_content.html.j2' %}

</article>