<footer class="footer">
    <div class="footer_inner">

        <div class="copyright">
            <span><i class="fa fa-copyright" aria-hidden="true"></i> copyleft 2025 <a href="#">Kloud</a></span>
            <span>:: all rights reversed.</span>
        </div>

        <code><i class="fa fa-heart" aria-hidden="true"></i> DNS provided by <a href="https://freedns.afraid.org/" target="_blank">Free DNS</a></code>
    </div>
</footer>
