<a class="project-card" href="https://github.com/dgudim/keyboard_vis">
    <div data-repo="/dgudim/keyboard_vis" class="repo_card" style="
                    background: 
                    linear-gradient(-90deg, transparent 0%, var(--bg-color) 20%), 
                    repeating-linear-gradient(90deg, #dea584, #dea584 2px, transparent 0, transparent 15px);
                    background-position: 5px 0;">

        <div class="repo_card_adaptive">

            <div class="repo_card_adaptive_thumbnail" style="background-image: linear-gradient(90deg, transparent 75%, var(--bg-color) 100%), url('https://user-images.githubusercontent.com/34401005/253050201-7dc8f223-8a7c-41b9-bb4c-5a31c96b02c7.jpg')">
            </div>

            <div class="repo_card_adaptive_inner">
                <div class="repo_text_container">
                    <h2>Keyboard vis</h2>
                    <p id="keyboard_vis_description">A simple openRGB client reacting to some dbus events and displaying them on an openRGB device</p>
                </div>
                <div class="repo_stats">
                    <div class="icon_container repo_lang">
                        <em style="color: #dea584;" class="fa fa-circle"></em>
                        <span class="stats_text">Rust</span>
                    </div>
                    <div class="icon_container repo_stars">
                        <em class="fa fa-star-o"></em>
                        <span class="stats_text" id="keyboard_vis_stars">0</span>
                    </div>
                    <div class="icon_container repo_forks">
                        <em class="fa fa-code-fork"></em>
                        <span class="stats_text" id="keyboard_vis_forks">0</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="repo_card_small_thumbnail">
            <img src="https://user-images.githubusercontent.com/34401005/253050104-a0877013-1818-4fc3-84de-aaa7857e5824.png" alt="repo_card_small_thumbnail">
        </div>

    </div>
</a>
<a class="project-card" href="https://github.com/dgudim/obsidian-universal-renderer">
    <div data-repo="/dgudim/obsidian-universal-renderer" class="repo_card" style="
                    background: 
                    linear-gradient(-90deg, transparent 0%, var(--bg-color) 20%), 
                    repeating-linear-gradient(90deg, #3178c6, #3178c6 2px, transparent 0, transparent 15px);
                    background-position: 5px 0;">

        <div class="repo_card_adaptive">

            <div class="repo_card_adaptive_thumbnail" style="background-image: linear-gradient(90deg, transparent 75%, var(--bg-color) 100%), url('https://user-images.githubusercontent.com/34401005/238184123-b39d1054-f054-4b32-9954-43ab20c5e3bd.png')">
            </div>

            <div class="repo_card_adaptive_inner">
                <div class="repo_text_container">
                    <h2>Obsidian universal renderer</h2>
                    <p id="obsidian_universal_renderer_description">Obsidian plugin to render latex, dot, blockdiag, ditaa and other graphs</p>
                </div>
                <div class="repo_stats">
                    <div class="icon_container repo_lang">
                        <em style="color: #3178c6;" class="fa fa-circle"></em>
                        <span class="stats_text">TypeScript</span>
                    </div>
                    <div class="icon_container repo_stars">
                        <em class="fa fa-star-o"></em>
                        <span class="stats_text" id="obsidian_universal_renderer_stars">4</span>
                    </div>
                    <div class="icon_container repo_forks">
                        <em class="fa fa-code-fork"></em>
                        <span class="stats_text" id="obsidian_universal_renderer_forks">0</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="repo_card_small_thumbnail">
            <img src="https://user-images.githubusercontent.com/34401005/238184102-744f735e-1008-44f0-adec-c1d7c8275833.png" alt="repo_card_small_thumbnail">
        </div>

    </div>
</a>
<a class="project-card" href="https://github.com/dgudim/AttractorSimulator">
    <div data-repo="/dgudim/AttractorSimulator" class="repo_card" style="
                    background: 
                    linear-gradient(-90deg, transparent 0%, var(--bg-color) 20%), 
                    repeating-linear-gradient(90deg, #b07219, #b07219 2px, transparent 0, transparent 15px);
                    background-position: 5px 0;">

        <div class="repo_card_adaptive">

            <div class="repo_card_adaptive_thumbnail" style="background-image: linear-gradient(90deg, transparent 75%, var(--bg-color) 100%), url('https://user-images.githubusercontent.com/34401005/196383368-2985c626-5d16-491e-9df5-40822e540c7f.png')">
            </div>

            <div class="repo_card_adaptive_inner">
                <div class="repo_text_container">
                    <h2>AttractorSimulator</h2>
                    <p id="attractorsimulator_description">A simple 2d and 3d chaos attractor visualiser written in java and libGDX</p>
                </div>
                <div class="repo_stats">
                    <div class="icon_container repo_lang">
                        <em style="color: #b07219;" class="fa fa-circle"></em>
                        <span class="stats_text">Java</span>
                    </div>
                    <div class="icon_container repo_stars">
                        <em class="fa fa-star-o"></em>
                        <span class="stats_text" id="attractorsimulator_stars">1</span>
                    </div>
                    <div class="icon_container repo_forks">
                        <em class="fa fa-code-fork"></em>
                        <span class="stats_text" id="attractorsimulator_forks">1</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="repo_card_small_thumbnail">
            <img src="https://user-images.githubusercontent.com/34401005/196242230-7e08eb3b-73c7-456e-8b37-b490cee37111.jpg" alt="repo_card_small_thumbnail">
        </div>

    </div>
</a>
<a class="project-card" href="https://github.com/dgudim/Scheduler">
    <div data-repo="/dgudim/Scheduler" class="repo_card" style="
                    background: 
                    linear-gradient(-90deg, transparent 0%, var(--bg-color) 20%), 
                    repeating-linear-gradient(90deg, #b07219, #b07219 2px, transparent 0, transparent 15px);
                    background-position: 5px 0;">

        <div class="repo_card_adaptive">

            <div class="repo_card_adaptive_thumbnail" style="background-image: linear-gradient(90deg, transparent 75%, var(--bg-color) 100%), url('https://github.com/dgudim/Scheduler/raw/master/fastlane/metadata/android/en-US/images/phoneScreenshots/02.jpg?raw=true')">
            </div>

            <div class="repo_card_adaptive_inner">
                <div class="repo_text_container">
                    <h2>Scheduler</h2>
                    <p id="scheduler_description">A small app that shows your todo list on your lockscreen</p>
                </div>
                <div class="repo_stats">
                    <div class="icon_container repo_lang">
                        <em style="color: #b07219;" class="fa fa-circle"></em>
                        <span class="stats_text">Java</span>
                    </div>
                    <div class="icon_container repo_stars">
                        <em class="fa fa-star-o"></em>
                        <span class="stats_text" id="scheduler_stars">19</span>
                    </div>
                    <div class="icon_container repo_forks">
                        <em class="fa fa-code-fork"></em>
                        <span class="stats_text" id="scheduler_forks">2</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="repo_card_small_thumbnail">
            <img src="https://github.com/dgudim/Scheduler/raw/master/fastlane/metadata/android/en-US/images/icon.png?raw=true" alt="repo_card_small_thumbnail">
        </div>

    </div>
</a>
<a class="project-card" href="https://github.com/dgudim/RiceMetaCompiler">
    <div data-repo="/dgudim/RiceMetaCompiler" class="repo_card" style="
                    background: 
                    linear-gradient(-90deg, transparent 0%, var(--bg-color) 20%), 
                    repeating-linear-gradient(90deg, #f34b7d, #f34b7d 2px, transparent 0, transparent 15px);
                    background-position: 5px 0;">

        <div class="repo_card_adaptive">

            <div class="repo_card_adaptive_thumbnail" style="background-image: linear-gradient(90deg, transparent 75%, var(--bg-color) 100%), url('https://user-images.githubusercontent.com/34401005/196667557-8fc7c13f-d37c-45ec-8033-ba5f90c061f2.png')">
            </div>

            <div class="repo_card_adaptive_inner">
                <div class="repo_text_container">
                    <h2>RiceMetaCompiler</h2>
                    <p id="ricemetacompiler_description">Reflection code generation from clang ast</p>
                </div>
                <div class="repo_stats">
                    <div class="icon_container repo_lang">
                        <em style="color: #f34b7d;" class="fa fa-circle"></em>
                        <span class="stats_text">C++</span>
                    </div>
                    <div class="icon_container repo_stars">
                        <em class="fa fa-star-o"></em>
                        <span class="stats_text" id="ricemetacompiler_stars">0</span>
                    </div>
                    <div class="icon_container repo_forks">
                        <em class="fa fa-code-fork"></em>
                        <span class="stats_text" id="ricemetacompiler_forks">1</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="repo_card_small_thumbnail">
            <img src="https://user-images.githubusercontent.com/34401005/196664991-6832bfdd-6c2c-4279-9fab-c6665ccbc4bd.png" alt="repo_card_small_thumbnail">
        </div>

    </div>
</a>
<a class="project-card" href="https://github.com/dgudim/qt_disk-deduper">
    <div data-repo="/dgudim/qt_disk-deduper" class="repo_card" style="
                    background: 
                    linear-gradient(-90deg, transparent 0%, var(--bg-color) 20%), 
                    repeating-linear-gradient(90deg, #f34b7d, #f34b7d 2px, transparent 0, transparent 15px);
                    background-position: 5px 0;">

        <div class="repo_card_adaptive">

            <div class="repo_card_adaptive_thumbnail" style="background-image: linear-gradient(90deg, transparent 75%, var(--bg-color) 100%), url('https://user-images.githubusercontent.com/34401005/196508114-6e49fc33-9786-4fd4-9beb-45efad717c83.png')">
            </div>

            <div class="repo_card_adaptive_inner">
                <div class="repo_text_container">
                    <h2>Disk deduper</h2>
                    <p id="disk_deduper_description">A desktop app that will help you find and deal with file duplicates on you drive</p>
                </div>
                <div class="repo_stats">
                    <div class="icon_container repo_lang">
                        <em style="color: #f34b7d;" class="fa fa-circle"></em>
                        <span class="stats_text">C++</span>
                    </div>
                    <div class="icon_container repo_stars">
                        <em class="fa fa-star-o"></em>
                        <span class="stats_text" id="disk_deduper_stars">0</span>
                    </div>
                    <div class="icon_container repo_forks">
                        <em class="fa fa-code-fork"></em>
                        <span class="stats_text" id="disk_deduper_forks">0</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="repo_card_small_thumbnail">
            <img src="https://user-images.githubusercontent.com/34401005/196507460-e3c31d80-63a9-455f-aac4-cc4d1cc540d3.png" alt="repo_card_small_thumbnail">
        </div>

    </div>
</a>
<a class="project-card" href="https://github.com/dgudim/Mvis">
    <div data-repo="/dgudim/Mvis" class="repo_card" style="
                    background: 
                    linear-gradient(-90deg, transparent 0%, var(--bg-color) 20%), 
                    repeating-linear-gradient(90deg, #b07219, #b07219 2px, transparent 0, transparent 15px);
                    background-position: 5px 0;">

        <div class="repo_card_adaptive">

            <div class="repo_card_adaptive_thumbnail" style="background-image: linear-gradient(90deg, transparent 75%, var(--bg-color) 100%), url('https://user-images.githubusercontent.com/34401005/196237728-514366a1-a070-4670-9059-71d2d9a7d5a6.png')">
            </div>

            <div class="repo_card_adaptive_inner">
                <div class="repo_text_container">
                    <h2>Mvis</h2>
                    <p id="mvis_description">A collection of different audio visualisers written in java and libGDX</p>
                </div>
                <div class="repo_stats">
                    <div class="icon_container repo_lang">
                        <em style="color: #b07219;" class="fa fa-circle"></em>
                        <span class="stats_text">Java</span>
                    </div>
                    <div class="icon_container repo_stars">
                        <em class="fa fa-star-o"></em>
                        <span class="stats_text" id="mvis_stars">3</span>
                    </div>
                    <div class="icon_container repo_forks">
                        <em class="fa fa-code-fork"></em>
                        <span class="stats_text" id="mvis_forks">0</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="repo_card_small_thumbnail">
            <img src="https://github.com/dgudim/Mvis/raw/master/android/res/drawable-hdpi/ic_launcher.png" alt="repo_card_small_thumbnail">
        </div>

    </div>
</a>
<a class="project-card" href="https://github.com/MineIceServer/Discord-minerank-bot">
    <div data-repo="/MineIceServer/Discord-minerank-bot" class="repo_card" style="
                    background: 
                    linear-gradient(-90deg, transparent 0%, var(--bg-color) 20%), 
                    repeating-linear-gradient(90deg, #3178c6, #3178c6 2px, transparent 0, transparent 15px);
                    background-position: 5px 0;">

        <div class="repo_card_adaptive">

            <div class="repo_card_adaptive_thumbnail" style="background-image: linear-gradient(90deg, transparent 75%, var(--bg-color) 100%), url('https://user-images.githubusercontent.com/34401005/196669805-93e9771e-217c-4bd7-acea-400ad26986ad.png')">
            </div>

            <div class="repo_card_adaptive_inner">
                <div class="repo_text_container">
                    <h2>🤖 MineRank</h2>
                    <p id="🤖_minerank_description">MineRank is a Discord bot built with TypeScript, discord.js & uses DKRCommands Command Handler. It attaches your discord account to a minecraft account.</p>
                </div>
                <div class="repo_stats">
                    <div class="icon_container repo_lang">
                        <em style="color: #3178c6;" class="fa fa-circle"></em>
                        <span class="stats_text">TypeScript</span>
                    </div>
                    <div class="icon_container repo_stars">
                        <em class="fa fa-star-o"></em>
                        <span class="stats_text" id="🤖_minerank_stars">0</span>
                    </div>
                    <div class="icon_container repo_forks">
                        <em class="fa fa-code-fork"></em>
                        <span class="stats_text" id="🤖_minerank_forks">0</span>
                    </div>
                    <div class="icon_container repo_org">
                        <img src="https://avatars.githubusercontent.com/u/121857374?s=64&v=4" alt="org_icon">
                        <span class="stats_text">@MineIceServer</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="repo_card_small_thumbnail">
            <img src="https://user-images.githubusercontent.com/34401005/196668897-6d98bae8-a76a-4bd8-aef3-eb9aab473d7a.png" alt="repo_card_small_thumbnail">
        </div>

    </div>
</a>